poetry==1.1.6
fastapi[all]==0.63.0
uvicorn[standard]==0.13.4
direct-redis==0.3.1
python-dotenv==0.17.1
psycopg2
requests
ipython
ipdb
beautifulsoup4
pandas
lxml
html5lib
scikit-learn
jedi==0.17.2
parso==0.7.1
grpcio==1.37
grpcio-tools==1.37
